repos:
- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: check-ast
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-added-large-files
    args:
    - --maxkb=1000
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.3.0
  hooks:
    -   id: remove-crlf
    -   id: remove-tabs
